/* Manifest ------------ */
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif+SC");
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Fonts ------------------*/
/* Variables ------------- */
/* Mixins -------------- */
/* Typography ------------------- */
@font-face {
  font-family: DinBlack;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Black.woff") format("woff"), url("../fonts/DINNextLTPro-Black.woff2") format("woff2"); }

@font-face {
  font-family: DinBold;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-BoldCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldItalic.woff") format("woff"), url("../fonts/DINNextLTPro-BoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Condensed.woff") format("woff"), url("../fonts/DINNextLTPro-Condensed.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavyItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-HeavyItalic.woff") format("woff"), url("../fonts/DINNextLTPro-HeavyItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavy;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Heavy.woff") format("woff"), url("../fonts/DINNextLTPro-Heavy.woff2") format("woff2"); }

@font-face {
  font-family: DinItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Italic.woff") format("woff"), url("../fonts/DINNextLTPro-Italic.woff2") format("woff2"); }

@font-face {
  font-family: DinLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-LightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinLightItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightItalic.woff") format("woff"), url("../fonts/DINNextLTPro-LightItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinMedium;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumCond.woff") format("woff"), url("../fonts/DINNextLTPro-MediumCond.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumItalic.woff") format("woff"), url("../fonts/DINNextLTPro-MediumItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinRegular;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLight.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLight.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightIt;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightIt.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightIt.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedBold;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Bold.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedLight;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Light.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedMedium;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Medium.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedRegular;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Regular.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: GeoLight;
  font-style: normal;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2"); }

body {
  font-family: 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-family: "Noto Serif SC", "Special Elite", "sans-serif";
  letter-spacing: 1px;
  word-spacing: 2px; }

.upcoming-races h1,
.drivers h1,
.race-results-heading h1,
.news h1,
.sponsors-pg h1,
.results-sgl h1 {
  margin-top: 0px;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase; }

.upcoming-races hr,
.drivers hr,
.race-results-heading hr,
.news hr,
.sponsors-pg hr,
.results-sgl hr {
  border-color: #000; }

@media (max-width: 414px) {
  h1 {
    font-size: 28px; } }

.generic-bkgd-img {
  min-height: 400px;
  margin-bottom: -2em; }

.sfcm.sfsi_wicon {
  width: 35px;
  height: 35px; }

.contact-form {
  max-width: 400px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  position: relative; }
  .contact-form .error {
    color: red; }
  .contact-form .success {
    color: #ff9966;
    text-align: center;
    font-weight: bold;
    font-size: 14px; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: rgba(249, 249, 249, 0.72);
  padding: 25px; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

@media (max-width: 1024px) {
  .navbar-lg {
    display: none; } }

@media (min-width: 1025px) {
  #navbar-sm {
    display: none; } }

/* Wrappers -------------------------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 220px; }

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#sidebar-wrapper::-webkit-scrollbar {
  display: none; }

#wrapper.toggled #sidebar-wrapper {
  width: 220px; }

#page-content-wrapper {
  width: 100%; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px; }

/* Sidebar nav styles -------------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%; }
  @media (max-width: 1024px) {
    .sidebar-nav li {
      padding-bottom: 30px;
      padding-top: 10px; } }

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a; }

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px; }

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px; }

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: none;
  background-color: #222;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

/* Hamburger-Cross -------------------------------------*/
.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none; }

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none; }

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #000; }

.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open .hamb-middle {
  display: none; }

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

/* Overlay -------------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1; }

/* Site Name -----------------------------------*/
.site-name {
  padding-top: 10px;
  padding-left: 3em;
  display: table; }
  .site-name h1 {
    margin-top: -8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    font-weight: bold;
    color: #000;
    font-size: 32px;
    margin-bottom: 6px !important; }
  .site-name p {
    text-align: center;
    letter-spacing: 28px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase; }

.site-name-sm h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  color: #fff; }
  @media (max-width: 768px) {
    .site-name-sm h1 {
      padding-top: 40px; } }

.site-name-sm p {
  padding-bottom: 14px;
  margin-bottom: -1px;
  color: #fff;
  text-align: center;
  word-spacing: 4px;
  letter-spacing: 4px;
  font-size: 17px;
  font-weight: bold; }

@media (min-width: 1200px) {
  .site-name-sm {
    display: none; } }

/* General Style of Navigation -------------------*/
ul.sub-menu {
  position: absolute;
  list-style: none;
  margin: 0;
  width: 150px;
  display: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

#main-menu li:hover ul.sub-menu {
  display: block; }

ul.sub-menu a {
  color: #fff; }

ul.sub-menu a:hover {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: block;
  color: #fff; }

#masthead #main-menu .tablet-desktop-menu #menu-mainmenu > li > a {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: block; }

.custom-nav {
  display: -ms-grid;
  display: grid; }

.social-icons {
  height: 45px;
  margin-right: 35px; }

.norm_row {
  float: right;
  position: unset !important; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

#navbar {
  margin-top: 6px; }

.navbar-inverse
.navbar-nav > li > a {
  color: #424C50;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold; }

.nav li a {
  font-size: 17px;
  letter-spacing: 3px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-bottom: unset; }

.navbar-default .navbar-nav > li > a {
  color: #000; }

.sub-menu li {
  margin-bottom: 10px;
  list-style: none; }

.sub-menu li:last-child {
  margin-bottom: 0; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.sub-menu a:hover {
  color: #000; }

.sub-menu li, .sub-menu a {
  font-size: 25px;
  font-weight: bold; }

#menu-menu-1 {
  float: right; }

#menu-menu-1 a:hover {
  font-weight: bold;
  color: #999; }

.navbar-inverse
.navbar-nav > li > a {
  color: #f5f5f5;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px; }
  @media (max-width: 1024px) {
    .navbar-inverse
.navbar-nav > li > a {
      font-size: 20px; } }

.current-menu-parent li a {
  background: inherit; }

.current-menu-parent
.current-menu-item a {
  color: #fff;
  font-weight: bold; }

@media (min-width: 768px) {
  .navbar-nav {
    margin: 11.5px 20px; }
  li:hover .sub-menu {
    display: block; }
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px; } }

.hero-img {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 700px; }
  @media (min-width: 1200px) {
    .hero-img {
      -webkit-border-top-left-radius: 65%;
         -moz-border-radius-topleft: 65%;
              border-top-left-radius: 65%; } }
  @media (max-width: 768px) {
    .hero-img {
      margin-top: -18em;
      height: 1100px; } }
  @media (max-width: 414px) {
    .hero-img {
      margin-top: -14em;
      height: 800px; } }

.site-logo {
  margin-top: 1em; }
  .site-logo img {
    width: 95%; }

.hero-content {
  float: right;
  padding-top: 21em; }
  @media (max-width: 414px) {
    .hero-content {
      padding-top: 28em; } }
  @media (max-width: 375px) {
    .hero-content {
      padding-top: 20em; } }
  .hero-content h1 {
    font-size: 100px;
    color: #fff;
    letter-spacing: 14px;
    opacity: .8;
    font-family: AlfaSlabOne;
    text-shadow: 1px 1px 5px #000; }
    @media (max-width: 414px) {
      .hero-content h1 {
        font-size: 64px;
        letter-spacing: 5px; } }

.logo-sm-nav img {
  max-width: 70%;
  margin-left: 28%; }

.footer {
  background-color: #292929; }

.footer-social-icons {
  padding-top: 50px;
  padding-left: 20px; }
  @media (max-width: 414px) {
    .footer-social-icons {
      padding-top: 20px;
      padding-left: 0px; } }
  .footer-social-icons p a {
    padding-left: 22px;
    color: #fff;
    font-size: 17px; }
    @media (max-width: 414px) {
      .footer-social-icons p a {
        padding-left: 6.8em; } }
    @media (max-width: 375px) {
      .footer-social-icons p a {
        padding-left: 6em; } }

@media (max-width: 414px) {
  .norm_row {
    width: 350px !important;
    text-align: center !important; } }

@media (max-width: 375px) {
  .norm_row {
    width: 320px !important;
    text-align: center !important; } }

#menu-menu-3 {
  padding-left: 8px;
  padding-top: 45px; }
  @media (max-width: 414px) {
    #menu-menu-3 {
      padding-top: 0em; } }

.bottomMenu {
  margin-top: 46px;
  display: block;
  width: 100%;
  z-index: 9999; }
  @media (max-width: 414px) {
    .bottomMenu {
      text-align: center; } }
  .bottomMenu ul {
    padding-left: 0px;
    display: inline;
    float: left; }
    .bottomMenu ul li {
      list-style-type: none;
      display: inline;
      font-size: 12px; }
      .bottomMenu ul li:last-child > a {
        border-right: none; }
      .bottomMenu ul li a {
        color: #fff;
        font-size: 17px;
        letter-spacing: 3px;
        line-height: 15px;
        text-decoration: none;
        font-weight: bold;
        border-right: thin solid #fff;
        padding: 0 3px 0 3px; }
        @media (max-width: 375px) {
          .bottomMenu ul li a {
            letter-spacing: 0px; } }
        @media (min-width: 376px) {
          .bottomMenu ul li a {
            letter-spacing: 1px; } }
        @media (min-width: 768px) {
          .bottomMenu ul li a {
            font-size: 15px;
            padding: 0 7px 0 3px; } }
        .bottomMenu ul li a:hover {
          color: #fff;
          text-decoration: underline; }

@media (max-width: 414px) {
  .copyright {
    margin-top: 20px; } }

.copyright p {
  padding-top: 3.4em;
  padding-bottom: 2em;
  padding-left: 2px;
  color: #fff;
  font-size: 14px;
  margin: 0px;
  font-weight: bold; }

@media (max-width: 414px) {
  .copyright p {
    padding-top: 4.4em;
    padding-bottom: 0px;
    text-align: center;
    float: none; } }

/* Drivers Team Page ------------------------------------- */
#teamDriversPg {
  margin-top: 10em;
  margin-bottom: 2em; }
  @media (max-width: 414px) {
    #teamDriversPg {
      margin-top: 2em; } }
  #teamDriversPg h1 {
    text-align: center; }

.drivers-pg img {
  max-width: 100%;
  display: block !important;
  margin: auto !important; }

.driver-row {
  padding-bottom: 2em; }

.driver-content {
  padding-left: 14%; }

/* Sponsors Page ------------------------------------- */
.sponsors-pg {
  margin-top: 12em;
  margin-bottom: 2em; }

.sponsor-img {
  margin-top: 2em; }
  .sponsor-img img {
    height: 100px;
    max-width: 100%;
    display: block;
    margin: auto; }

/* Race Results Page ------------------------------------- */
.results-pg {
  margin-top: 10em;
  margin-bottom: 2em; }
  @media (max-width: 414px) {
    .results-pg {
      margin-top: 2em; } }

#raceResults .row {
  margin: 0px; }

#raceResults img {
  max-width: 100%;
  height: 100%; }

#raceResults h2 {
  margin-top: 0px; }

#raceResults p {
  margin: 0px; }

@media (max-width: 414px) {
  #raceResults h2 {
    font-size: 17px; } }

/* Upcoming Races Section ------------------------- */
#sec1 .container-fluid {
  padding: 0px; }

.upcoming-races h1, .upcoming-races h2, .upcoming-races p {
  color: #000; }

@media (max-width: 414px) {
  .upcoming-races h2 {
    font-size: 25px; } }

.race-dtl .row {
  margin: 0px; }

.race-dtl p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px; }
  @media (max-width: 414px) {
    .race-dtl p {
      font-size: 12px;
      line-height: 20px; } }

/* Sponsors Section -------------------------------- */
.sponsors img {
  max-width: 100%;
  height: auto; }

/* Drivers Section ---------------------------------- */
.drivers {
  margin-top: 2em;
  margin-bottom: 2em; }
  .drivers h2 {
    text-align: center;
    text-transform: uppercase; }
  .drivers img {
    width: 100%;
    height: 100%; }

/* Cars Section ------------------------------------- */
#sec2 .container-fluid {
  padding: 0px; }

.cars .col-sm-12 {
  padding: 0px; }

.sleds {
  min-height: 550px; }
  @media (max-width: 414px) {
    .sleds {
      margin-top: -10px; } }

.cars-content,
.cars-content-2 {
  padding-top: 5em;
  padding-left: 5em; }
  @media (max-width: 768px) {
    .cars-content,
    .cars-content-2 {
      padding-top: 0em; } }
  @media (max-width: 414px) {
    .cars-content,
    .cars-content-2 {
      padding-left: 0em; } }
  .cars-content h2,
  .cars-content-2 h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px; }
  .cars-content p,
  .cars-content-2 p {
    line-height: 30px;
    font-size: 16px;
    text-align: center; }

.cars-content-2 {
  float: right; }

/* Results & News Section ------------------------------------- */
#sec5 {
  margin-bottom: 2em; }

@media (max-width: 414px) {
  .race-results-heading h2 {
    font-size: 24px; } }

#race-results-content h2 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px; }

.news {
  text-align: center; }

/* Drivers Team Single ------------------------------------- */
.drivers-sgl {
  margin-top: 8em;
  margin-bottom: 2em; }
  @media (max-width: 414px) {
    .drivers-sgl {
      margin-top: 2em; }
      .drivers-sgl h2 {
        text-align: center; } }
  .drivers-sgl p {
    padding: 10px; }
  .drivers-sgl img {
    display: block;
    margin: auto; }

/* Race Results Single ------------------------------------- */
.results-sgl {
  margin-top: 10em;
  margin-bottom: 2em; }
  @media (max-width: 768px) {
    .results-sgl {
      margin-top: 2em; } }
  @media (max-width: 414px) {
    .results-sgl {
      margin-top: 0em; } }

.rr-img img {
  max-width: 100%;
  height: 100%; }

.image-section {
  margin-top: -8em;
  margin-left: -4em; }
  @media (max-width: 768px) {
    .image-section {
      margin-top: 0px;
      margin-left: 0px; } }
  @media (max-width: 414px) {
    .image-section {
      margin-top: 2em;
      margin-left: -3em; } }

.image-gallery li {
  list-style: none; }

.image-gallery img {
  max-width: 100%; }

/*# sourceMappingURL=app.css.map */
