body {
	font-family: 'Oswald';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	font-family: $secondaryFont;
	letter-spacing: 1px;
	word-spacing: 2px;
}

.upcoming-races,
.drivers,
.race-results-heading,
.news,
.sponsors-pg,
.results-sgl {
	h1 {
		margin-top: 0px;
		padding-top: 20px;
		text-align: center;
		letter-spacing: 5px;
		font-weight: bold;
		text-transform: uppercase;
	}
	hr {
		border-color: $black;
	}
}

@media ( max-width: 414px ) {
	h1 {
		font-size: 28px;
	}
}

.generic-bkgd-img {
	min-height: 400px;
	margin-bottom: -2em;
}