/* Fonts ------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Noto+Serif+SC');


$primaryFont: 'Open Sans', 'Special Elite', 'sans-serif';
$secondaryFont: 'Noto Serif SC', 'Special Elite', 'sans-serif';

/* Variables ------------- */

//Colors

//White
$white:#fff;
$white-transparent: rgba(255, 255, 255, .6);
$contact-form-white: rgba(249, 249, 249, 0.92);
$white-grey: #f5f5f5;
$off-white: #fafafa;

//Black
$black:#000;
$almost-black: #1a1a1a;
$another-black: #1c1c1c;
$more-black: #222;
$charcoal: #4E5456;

//Grey
$light-grey: #eeeeee;
$trans-light-grey: rgba(250,250,250,.8);
$lighter-dark-grey: #888;
$light-dark-grey: #999;
$med-grey: #ddd;
$dark-grey: #292929;
$footer-grey: #4E5456;
$another-grey: #ccc;
$more-grey: #AAA;
$contact-form-grey: #e9e7e8e0;

//Blue
$grey-blue: #424C50;
$bmw-blue: #339eff;
$darker-blue: #09C;

//Red
$lmr-red: #82272c;

//Orange
$orange: #ff9966;

//Green
$background-green: #468063;
$transparent-bkgd-green: rgba(70, 128, 99, 0.64);
$transparent-truck-green: rgba(16, 48, 43, 0.62);
$truck-green: rgb(27, 71, 83);
$footer-green: #151b17;

//Text Shadow
$text-shadow1: 1px 1px 5px #000;



